body {
  background-color: black;
  color: rgb(255, 255, 255);
}



img{
  width:100px;
  height:100px;
}

.rc{
  width:200px;
  height:200px;
}

:root {
  --cor-de-fundo: #1E1E1E;
  --verde: #6FFF57;
  --branco: #FFFFFF;
  --botao-ativo: #3A375E;
  --botao-inativo: rgba(58, 55, 94, 0.5);
  --texto-fundo: rgba(58, 55, 94, 0.3);
}
