body {
  background-color: black;
  color: rgb(255, 255, 255);
}
div {
  width: 100px;
  height: 50px;
  background-color: blue;
  animation-name: example;
  animation-duration: 5s;
}

@keyframes example {
  from {background-color: blue;}
  to {background-color: green;}

}
